td:nth-child(even), th:nth-child(even) {
    background-color: antiquewhite;

}
tr:nth-child(even) {
    background-color: aqua;
}
table,th,td {
    border: 5px solid black;
    border-collapse: collapse;
}
tr:hover {
    background-color: greenyellow;
}