img {
    width: 190px;
    margin-left: 30px;
}
#prev {
    margin-top: 10px;
    margin-left: 30px;
    width: 80px;

}

#next {
    margin-top: 10px;
    margin-left: 50px;
    width: 60px;
}

button:hover {
    background-color:lightblue;
}