/* p {
    border: 5px solid red;
  } */

p {
    border-top: 5px solid yellowgreen;
    border-right: 5px solid rebeccapurple;
    border-bottom: 5px solid chocolate;
    border-left: 5px solid black;
    border-radius: 5px;
}