<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout2.css" />
  </head>
  <body>
    <div id="logo-nav" class="clearfix">
      <div id="logo">Logo</div>
      <div id="nav">Navigation</div>
    </div>

    <div id="ban">Header/banner</div>
    <div id="text">Intro text area</div>

    <div id="div-box">
      <div id="box">Box1</div>
      <div id="box">Box2</div>
      <div id="box">Box3</div>
    </div>

    <div id="footer">Footer</div>
  </body>
</html>
