* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 800px;
  width: 100%;
}

#logo {
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(189, 187, 187, 0.8);
  margin: 5px;
  height: 7%;
}
#navigation {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 20%;
}

#header {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(189, 187, 187, 0.8);
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 78.2%;
}

#sideBox {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
  background-color: white;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48%;
  color: white;
  width: 20%;
}

#bodyArea {
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(189, 187, 187, 0.8);
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48%;
  width: 78.2%;
}
#footer {
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(189, 187, 187, 0.8);
  text-align: center;
  margin: 5px;
}
