<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout1div.css" />
  </head>
  <body>
    <div id="logo">Logo</div>
    <div id="nav">Navigation</div>
    <div id="ban">Header/banner</div>
    <div id="main-div">
      <div id="sidebar">Sidebar</div>
      <div id="body-area">Body Area</div>
    </div>
    <div id="footer">
      <footer>Footer</footer>
    </div>
  </body>
</html>
