<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="portfolio.css" />
  </head>
  <body>
    <!-- Header Section -->
    <div id="header" class="clearfix">
      <div id="logo">Reddirani</div>
      <div id="nav">
        <a href="#header">Home</a>
        <a href="#about">About</a>
        <a href="#qualification">Qualification</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </div>
    </div>

    <!-- About Section -->

    <div id="about">
      <div class="inner clearfix">
        <div id="image">
          <img src="photo.jpeg" alt="Photo" />
          <p>Associate Software Developer</p>
        </div>
        <div id="bio">
          <h2>ABOUT ME</h2>
          <p>
            I am a proactive and ambitious candidate with a strong background in
            java,REST API's,frontend technologies and SQL. I have completed a
            course in Core Java with DSA. Having recently completed my MCA in
            Computers from Sri Venkateshwara University, I am to leverage my
            skills and Knowledge to contribute to challenging projects.
          </p>
          <a href="ReddiRani.pdf" target="_blank">Download Resume</a>
          <a href="ReddiRani.pdf" target="_blank">View Resume</a>
        </div>
      </div>
    </div>

    <!-- qualification starts -->
    <div id="qualification">
      <h2>Qualification</h2>
      <table>
        <tr>
          <td>S1.Num</td>
          <td>Qualification</td>
          <td>Institution</td>
          <td>Year</td>
          <td>Percentage</td>
        </tr>

        <tr>
          <td>1</td>
          <td>MCA</td>
          <td>Sri Venkateshwara University</td>
          <td>2023</td>
          <td>83%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>B.Com</td>
          <td>Shri Gnanambica Degree College</td>
          <td>2021</td>
          <td>85%</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Inter</td>
          <td>A.P.Model Junior College</td>
          <td>2018</td>
          <td>93%</td>
        </tr>
        <tr>
          <td>4</td>
          <td>SSC</td>
          <td>Sri Viswa Bharathi School</td>
          <td>2016</td>
          <td>88%</td>
        </tr>
      </table>
    </div>

    <!-- Skills Section -->
    <div id="skills">
      <h2>Skills</h2>
      <table>
        <tr>
          <td>S1.Num</td>
          <td>Software Name/ Language</td>
          <td>Level of Efficiency</td>
        </tr>

        <tr>
          <td>1</td>
          <td>Java</td>
          <td>Expert</td>
        </tr>
        <tr>
          <td>2</td>
          <td>SQL</td>
          <td>Intermediate</td>
        </tr>
        <tr>
          <td>3</td>
          <td>HTML</td>
          <td>Intermediate</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Java Script</td>
          <td>Intermediate</td>
        </tr>
      </table>
    </div>

    <!-- projects section -->

    <div id="projects">
      <h2>Traffic Management System</h2>
      <div class="row clearfix">
        <div class="col">
          <h6>Languages</h6>
          <ul type="none">
            <li>Java</li>
            <br />
            <li>Oracle</li>
            <br />
            <li>Swings</li>
            <br />
          </ul>
        </div>
        <div class="col">
          <h6>Description</h6>
          <p id="desc">
            Traffic Management System is an application which is used to manage
            the Offences in road. It is used to track the vehicle which violates
            the rules. Offences are raised and cleared by the policeman, clerk.
          </p>
          <p id="role">Roles</p>
          <ul type="none">
            <li class="roles">Admin</li>
            <br />
            <br />
            <li class="roles">RTO</li>
            <br />
            <br />
            <li class="roles">Clerk</li>
            <br />
            <br />
            <li class="roles">Policeman</li>
            <br /><br />
          </ul>
        </div>
      </div>
    </div>

    <!-- Contact Section -->

    <div id="contact">
      <h2>CONTACT ME</h2>
      <form action="">
        <label for="">Name</label><br />
        <input type="text" /> <br />
        <label for="">Email ID</label> <br />
        <input type="text" /> <br />
        <label for="">Phone Number</label> <br />
        <input type="text" /><br />
        <label for="">Feedback</label> <br />
        <textarea rows="10"></textarea> <br />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>

    <!-- Footer section -->
    <div id="footer">
      Made with <span style="color: red">&hearts;</span> by Reddirani
    </div>
    <a href="#header">
      <div id="top">^</div>
    </a>
  </body>
</html>
